.btn-color {
    background-color: #4e0110;
    color: #fff;
}

.bg-pos-primary {
    background-color: #4e0110;
    color: #fff;
}

.pos-title {
    color: #4e0110;
}

.profile-image-pic {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.cardbody-color {
    background-color: #ebf2fa;
}

.text-dark {
    color: #000;
}

a {
    text-decoration: none;
}

.swal-text {
    background-color: #FEFAE3;
    padding: 17px;
    display: block;
    margin: 22px;
    text-align: center;
    color: #000;
    font-weight: bold;
}